.modal__trigger {
  background-color: var(--dark-blue);
  border-radius: 4px;
  color: var(--white);
  font-size: 82.5%;
  font-weight: 700;
  letter-spacing: 0.125em;
  line-height: 3.5em;
  padding: 0 2.5rem;
  text-transform: uppercase;
  transition: .5s;
  white-space: nowrap;
}

.modal__trigger:hover {
  background-color: var(--mid-blue);
  transition: .35s;
}

.modal__trigger:disabled {
  background-color: var(--faded-white);
  cursor: default;
}

.modal__cover {
  background-color: rgba(15, 20, 48, 0.1);
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateZ(0);
  width: 100%;
  z-index: 100;
}

.modal {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow:
    0 0 0 .5px rgba(15, 20, 48, 0.25),
    0 4px 5px 0 rgba(15, 20, 48, 0.15),
    0 8px 10px 0 rgba(15, 20, 48, 0.1);
  display: flex;
  flex-direction: column;
  left: 50%;
  min-width: 30em;
  padding: 0 2.5rem 2rem;
  position: fixed;
  top: 35%;
  transform: translate(-50%, -50%);
}

@media(max-width:30em) {
  .modal {
    min-width: 100%;
  }
}

.modal__header {
  align-items: baseline;
  display: flex;
  height: 60px;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.modal__header__title {
  color: var(--mid-blue);
  letter-spacing: normal;
  line-height: normal;
  margin-top: 3rem;
}

.modal__header__close {
  align-self: center;
  color: var(--faded-white);
  font-size: 21px;
  font-weight: 700;
  transition: .5s;
}

.modal__header__close:hover {
  color: var(--mid-blue);
  cursor: pointer;
  transition: .35s;
}

.modal__content {
  display: flex;
  flex-direction: column;
  padding: 0.25em 0;
}

.modal__content__label {
  font-weight: 500;
  margin-bottom: .5rem;
}

.modal__content__select {
  height: 3.5rem;
  line-height: 3.5rem;
  min-width: max-content;
  width: 100%;
}

.modal__footer {
  align-self: flex-end;
  margin-top: 3.5rem;
}

.modal__footer__btn {
  align-self: center;
  background-color: var(--dark-blue);
  border-radius: 4px;
  color: var(--white);
  font-size: 82.5%;
  font-weight: 700;
  letter-spacing: 0.125em;
  line-height: 3em;
  padding: 0 3rem;
  text-transform: uppercase;
  transition: .5s;
}

.modal__footer__btn:hover {
  background-color: var(--mid-blue);
  transition: .35s;
}

.modal__trigger:active,
.modal__trigger:focus,
.modal__footer__btn:active,
.modal__footer__btn:focus,
.modal__content__select:active,
.modal__content__select:focus {
  box-shadow:
    0 0 0 2px var(--yellow),
    0 0 8px 0 rgba(255, 208, 64, .65);
}
